<form #frm (submit)="loading=true;saveConstraints(frm);loading=false">

  <div class="addConstraintsDiv">
    <mat-form-field>
      <mat-label>בחר ארגון</mat-label>
      <mat-select>
        <mat-option *ngFor="let org of relevantOrganizations" (onSelectionChange)="updateSelection(org.org_code)" [value]="org.org_name">
          {{org.org_name}}
        </mat-option>
      </mat-select>
  </mat-form-field>
    <mat-label *ngIf="selectedNeedinessDetails" style="font-size: small;margin: 10px;">בארגון זה אתה זכאי ל {{selectedNeedinessDetails.weekly_hours}} שעות</mat-label>

    <br>

      <div style="font-size: small;text-align: center;width:300px;margin-right: 120px;">
      <mat-label style="margin:15px;font-size: medium !important;">בין השעות: </mat-label>
      <mat-icon style="cursor:'pointer';color: rgb(245, 4, 133);" (click)="addHour()">playlist_add</mat-icon>
      <br>
      <mat-label *ngIf="showHoursComment" style="color: red;">הגעת לכמות המקסימלית. מחק שעות כדי להוסיף</mat-label>

      <div style="overflow-y: auto;max-height: 150px;">
      <div *ngFor="let item of listOfHours">
      <mat-form-field class="hours">
        <mat-select>
          <mat-option *ngFor="let sHour of allHours" aria-placeholder="שעת התחלה" [value]="sHour.at_hour" (onSelectionChange)="updateStartHourSelection(item.code,sHour.hour_code)">
            {{sHour.at_hour.substring(0,5)}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field  class="hours">
        <mat-select>
          <mat-option *ngFor="let eHour of allHours" [value]="eHour.at_hour" (onSelectionChange)="updateEndHourSelection(item.code,eHour.hour_code)">
            {{eHour.at_hour.substring(0,5)}}
          </mat-option>
          </mat-select>
      </mat-form-field>
        <label style="cursor:'pointer';font-size:small;font-weight: 500;color: rgb(245, 4, 133);" (click)="removeHour(item.code)">X</label>
    </div>
    </div>
    </div>

    <br>
     
  
    <mat-button-toggle-group class="days" #specificDays multiple aria-required="true">
      <mat-button-toggle *ngFor="let day of days" (change)="selectionChange(day.code)" >{{day.name}}</mat-button-toggle>
    </mat-button-toggle-group>
   <br><br>
   <button name="save" mat-raised-button color="accent" class="ok" type="submit" [disabled]="moneSelectedDays==0">אישור</button>
   <br>
 </div>

 <div class="tableDiv">
  <h2> הזמנים שאני יכול בהם בארגון זה</h2>
  <img src="../../../assets/dots.gif" *ngIf="loading"/>
  <table *ngIf="!loading">
    <tbody >
      <tr *ngFor="let timeslot of dataSource">
        <td>
          <button mat-icon-button color="primary" (click)="loading=true;DeleteFromDataSource(timeslot.time_slot_code);">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
         <td>ביום {{days[timeslot.day_of_week-1].name}}, בין השעות {{allHours[timeslot.start_at_hour-1].at_hour.toString().substring(0,5)}} - {{allHours[timeslot.end_at_hour-1].at_hour.toString().substring(0,5)}}</td>
       </tr>
    </tbody>
  </table>
  <br>
  <button name="stayInCurrentSchedule" mat-raised-button color="accent" style="margin:7px;" *ngIf="showChangesButtons">הישאר במערכת הנוכחית</button>
  <button name="leaveTheCurrentSchedule" mat-raised-button color="accent"  *ngIf="showChangesButtons">בטל את המערכת שלי עד לשיבוץ הבא</button>
</div>
</form>



