h2{
  text-align: center;
}

table {
  border-collapse: collapse;
  text-align: center;
  background-color: white;
  position: 50%;
  height: 70px;
  table-layout: fixed;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
}



th, td {
  padding-top: 2px;
  padding-bottom: 2px;
  width:fit-content;
  border-bottom: black 1px solid;
  border-top: black 1px solid;

}

thead, tfoot {
  font-style: bold;
  color: rgb(0, 0, 0);
}

tr{
  height: min-content;
}

thead th, tfoot th, tfoot td {
  background-color: #ebebeb;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}
h1{
  text-align: center;
}

.mat-form-field
{
 text-align: right
}

img
{
  width:100px;
}

form{
  background-color:transparent;
  text-align: center;
  padding-top: 50px;
}

.addConstraintsDiv{
  float: right;
  margin-right: 10%;
  background-color: #ffffff;
  padding:15px;
  width:575px;
  height:404px;
  margin-left: 0%;
 border-top-right-radius: 20px;
 border-bottom-right-radius: 20px;

}

.tableDiv
{
  float: left;
  margin-left: 135px;
  background-color: #ffffff;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 0%;
  padding-top: 25px;
  height:404px;
  width: 550px;
 overflow-y: scroll;
 border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;
}

label{
  font-size: x-small;
}

.ok
{
  font-size: larger;
  text-align: center;
}


.hours
{
  width:110px;
  margin-right: 20px;
  margin-left: 15px;
}

.days
{
  font-size: small;
}

.org{
  background-color: white !important;
  text-align: center;
  direction: rtl;
  height: 40px !important;
  border-radius: 7px;
}

.orgs{
  margin-top: 2px;
  margin-right: 41.5%;
  align-items: center;
  text-align: center;
  direction: rtl;
}


