.mat-form-field
{
 text-align: right
}

div{
  margin-top: 20%;
  direction: rtl;
  padding-top: 20%;
}

form{
  text-align: center;
  width: 23%;
  height: 55%;
  font-size: large;
  background-color: white;
  // margin-right: 39%;
  text-align: center;
  direction: ltr;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius:15px;
  margin: 0 auto;
  margin-top: 75px;

}
