<form #frm>
  <div class="addNeedies">
    <h2>הוספת מתנדבים לארגון</h2>
    <button mat-raised-button color="primary" class="upload-btn" (click)="fileUpload.click()">
      <mat-icon>attach_file</mat-icon>
    העלאת קובץ
    </button>
      <input type="file" style="display: none" (change)="upload(fileUpload)" #fileUpload accept="xlsx" >
      <br>
      <br>
    <button mat-raised-button color="primary" class="upload-btn"(click)="matDialog.open(addNewVolunteer);addVolunteer()">
      <mat-icon>add_circle</mat-icon>
      הוספה ידנית
      </button>
      <br><br><br>
      <div *ngIf="download">
        קובץ הסיסמאות מוכן!
        <br>
      <button mat-raised-button color="basic" class="upload-btn" (click)="saveExcel()">
        <mat-icon>download</mat-icon>
        הורדה
        </button></div>
    </div>
  <div class="tableDiv" >
    <div class="refresh">
      <button  mat-icon-button color="primary" (click)="buildTable()">
        <mat-icon>refresh</mat-icon>
      </button>
      <label>רענן טבלה</label>
    </div>
      <br><br>
    <img src="../../../assets/dots.gif" *ngIf="loading"/>
    <div *ngIf="!loading">
  <table>
    <thead>
        <tr>
          <th>ערוך</th>
          <th>מחק</th>
          <th>שם</th>
          <th>כתובת</th>
          <th>טלפון</th>
          <th>מייל</th>
          <th>תאריך לידה</th>
          <th>זמן התנדבות לשבוע, בדקות</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of dataSource">
        <td [id]="row.volunteer.volunteer_ID">
          <button mat-icon-button color="primary" (click)="matDialog.open(updatevolunteer);EditFromDataSource(row);">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td [id]="row.volunteer.volunteer_ID">
          <button mat-icon-button color="primary" (click)="DeleteFromDataSource(row.volunteer.volunteer_ID)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
        <td>{{ row.volunteer.volunteer_full_name}}</td>
        <td>{{ row.volunteer.volunteer_address }}</td>
        <td>{{ row.volunteer.volunteer_phone }}</td>
        <td>{{ row.volunteer.volunteer_email }}</td>
        <td>{{ row.volunteer.volunteer_birth_date }}</td>
        <td>{{ row.volunteeringDetails.weekly_hours }}</td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
  </form>

  <ng-template #updatevolunteer>
    <form #ndForm  type="submit" (submit)="editVolunteeringDetails(ndForm)">
    <router-outlet></router-outlet>
    <h2>פרטים טכניים</h2>
    <mat-form-field>
      <mat-label>מספר שעות חודשיות</mat-label>
      <input name="number" [(ngModel)]="currentVolunteeringDetails.weekly_hours"  ngDefaultControl matInput/>
    </mat-form-field><br>
       <div mat-dialog-actions>
        <button mat-raised-button color="accent" style="font-size: larger;text-align: center;" type="submit" >אישור</button>
        <button mat-button mat-dialog-close>סגור</button>
      </div>
    </form>
  </ng-template>

  <ng-template #addNewVolunteer>
    <router-outlet></router-outlet>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>סגור</button>
    </div>
  </ng-template>



  <table #t style="display: none;" id="excel-table">
    <tr>
      <th>תעודת זהות</th>
      <th>סיסמה</th>
    </tr>
    <tr *ngFor="let item of table">
      <td>{{item.ID}}</td>
      <td>{{item.password}}</td>
    </tr>
  </table>
